<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @grid.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @grid.description %>
</p>

<p>
  <strong>Picture:</strong>
  <%= image_tag(@grid.picture_url, :width => 600) if @grid.picture.present? %>
</p>

<%= link_to 'Edit', edit_grid_path(@grid) %> |
<%= link_to 'Back', grids_path %>
